.avatar {
  display: flex;
  gap: 20px;
}
.avatar__border {
  border-radius: 8px;
  border: #d9d9d9 1px solid;
  overflow: hidden;
}
.avatar__image {
  max-width: 190px;
  max-height: 248px;
  object-fit: cover;
}
.avatar__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.avatar__profile {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.profile__name {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: bold;
  margin: 0;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.profile__description {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #212121;
  opacity: 70%;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.avatar__button {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  border: none;
  background-color: transparent;
  opacity: 70%;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 100%;
  padding: 0;
}
.avatar__icon {
  width: 15.34px;
  height: 16px;
  opacity: 70%;
  transition: opacity 0.3s ease;
}
.avatar__button:hover {
  opacity: 100%;
}

@media (max-width: 320px) {
  .avatar {
    flex-direction: column;
    align-items: center;
  }
  .avatar__profile {
    align-items: center;
    text-align: center;
  }
  .avatar__info {
    align-items: center;
    padding-bottom: 20px;
  }
  .avatar__button {
    justify-content: center;
    width: 100%;
    padding-left: 90px;
    padding-right: 90px;
  }
}
