.cards {
  display: grid;
  max-width: 1280px;
  grid-template-columns: repeat(auto-fit, minmax(288px, 413px));
  justify-content: center;
  border-bottom: 1px solid #21212166;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 16px;
  padding-right: 16px;
  gap: 20px;
}
.card {
  max-width: 413px;
  min-width: 288px;
  max-height: 445px;
  min-height: 318px;
  padding-bottom: 20px;
}
.card__border {
  max-height: 445px;
  min-height: 288px;
  max-width: 413px;
  min-width: 288px;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  overflow: hidden;
}
.card__image {
  max-width: 413px;
  object-fit: cover;
}
.card__info {
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
}
.info__title {
  max-width: 353px;
  bottom: 0;
  left: 0;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0;
  color: #212121;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.info__icon {
  width: 23px;
  height: 23px;
  bottom: 0;
  right: 0;
  opacity: 40%;
}
@media (max-width: 1440px) {
  .card {
    height: auto;
  }
  .card__title {
    max-width: none;
    width: 100%;
  }
}
@media (max-width: 764px) {
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(288px, 413px));
    gap: 20px;
  }
}
@media (max-width: 320px) {
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(288px, 413px));
    gap: 20px;
  }
}
