.cards {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  width: 90%;
  height: 68.5%;
  top: 80px;
  transform: translate(1%);
  position: relative;
  border-bottom: 1px solid #21212166;
  padding-bottom: 40px;
  gap: 20px;
}
.card {
  width: 100%;
  height: 31.4%;
  position: relative;
}
.card__border {
  width: 100%;
  height: 92.8%;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  overflow: hidden;
}
.card__image {
  width: 100%;
  height: 92.8%;
  object-fit: cover;
}
.card__title {
  max-width: 353px;
  height: 5.3%;
  position: absolute;
  top: 425px;
  left: 0;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #212121;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card__icon {
  width: 23px;
  height: 4.4%;
  position: absolute;
  top: 425px;
  left: 40px;
  opacity: 40%;
}
@media (max-width: 1440px) {
  .cards {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    height: auto;
    padding: 20px;
  }
  .card {
    height: auto;
  }
  .card__title {
    max-width: none;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .cards {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: auto;
    gap: 20px;
    box-sizing: border-box;
  }
  .card {
    height: auto;
  }
  .card__title {
    max-width: none;
    width: 100%;
  }
}
@media (max-width: 320px) {
  .cards {
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 1fr;
    width: 100%;
    height: auto;
    gap: 20px;
    box-sizing: border-box;
  }
  .card {
    height: auto;
  }
  .card__title {
    max-width: none;
    width: 100%;
  }
}
