.profile {
  display: flex;
  border-bottom: 1px solid #21212166;
  padding-top: 34px;
  padding-bottom: 20px;
  max-width: 1280px;
  gap: 20px;
}
.profile__image {
  max-width: 190px;
  max-height: 190px;
  object-fit: cover;
  border-radius: 8px;
  border: #d9d9d9 1px solid;
  overflow: hidden;
}
.profile__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.profile__content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.profile__name {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0;
  color: #212121;
  max-width: 420px;
  margin: 0;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.profile__description {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0;
  color: #212121;
  opacity: 70%;
  max-width: 420px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.profile__edit-button {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  border: none;
  background-color: transparent;
  opacity: 70%;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0;
  color: #212121;
  padding: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 100%;
}

.profile__post-button__icon {
  width: 12px;
  height: 12px;
  border: 2px solid #212121;
}
.profile__post-button__container {
  display: flex;
  justify-content: flex-end;
  width: 820px;
}
.profile__post-button {
  width: 149px;
  height: 52px;
  justify-self: flex-end;
  align-self: end;
  background-color: #212121;
  color: #fff;
  border: none;
  padding: 18px 32px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0;
  white-space: nowrap;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 16px;
  }
  .profile__content {
    align-items: center;
    text-align: center;
  }
  .profile__info {
    align-items: center;
    padding-bottom: 20px;
  }
  .profile__edit-button {
    justify-content: center;
    width: 100%;
    padding-left: 90px;
    padding-right: 90px;
  }
  .profile__post-button {
    width: 288px;
    padding: 20px 98px;
  }
  .profile__post-button__container {
    width: fit-content;
    justify-content: center;
  }
}
