.modal {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  background-color: #00000050;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal_type_preview {
  padding: 0 16px;
}
.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}
.modal__container {
  position: relative;
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  box-sizing: border-box;
}

.modal__delete-container {
  position: relative;
  justify-items: center;
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 20px;
  gap: 32px;
  box-sizing: border-box;
}

.modal__close {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 32px;
  right: 50px;
  background-image: url("..//spots-images/Close-Icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  opacity: 40%;
  cursor: pointer;
}

.modal__delete-close {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  right: -52.5px;
  background-image: url("..//spots-images/delete-close.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: 2px solid transparent;
  cursor: pointer;
}

.modal__close_type_preview {
  background-image: url("../spots-images/Close-preview.svg");
  top: 0;
  right: -52.5px;
  opacity: 1;
}
.modal__close:hover {
  opacity: 100%;
}
.modal__close_type_preview:hover {
  opacity: 40%;
}
.modal__title {
  margin: 0 0 32px;
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0;
  color: #212121;
}

.modal__delete-title {
  width: 590px;
  height: 24px;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0;
  color: #212121;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__delete-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 332px;
  height: 52px;
  gap: 20px;
}

.modal__delete-button {
  width: 156px;
  height: 52px;
  background-color: #ff6565;
  color: #212121;
  border: none;
  padding: 18px 52px 18px 32px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.modal__delete-button:hover {
  background-color: #ff3333;
}

.modal__cancel-button {
  width: 156px;
  height: 52px;
  color: #212121;
  background-color: transparent;
  border: 1px solid #212121;
  padding: 18px 52px 18px 32px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0;
  cursor: pointer;
  transition: opacity 0.3s ease;
}
.modal__cancel-button:hover {
  background-color: #212121;
  color: #ffffff;
}

.modal__delete-button-icon {
  margin: 0;
  width: 12px;
  height: 12px;
  color: #fcf5e5;
  visibility: hidden;
}

.modal__label {
  display: block;
  margin: 0 0 32px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0;
  color: #212121b2;
}
.modal__input {
  display: block;
  box-sizing: border-box;
  margin: 8px 0 0;
  width: 100%;
  border-radius: 8px;
  padding: 16px 12px;
  gap: 10px;
  border: #21212166 solid 1px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0;
  transition: border 0.3s ease;
}
.modal__input_type_error {
  border: 1px solid #ff000099;
}
.modal__input::placeholder {
  color: #21212140;
}
.modal__input:hover {
  border-color: #212121;
}
.modal__error {
  display: block;
  color: #ff0000b3;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0;
  margin-top: 8px;
}
.modal__submit-button {
  width: 156px;
  height: 52px;
  margin-right: auto;
  background-color: #212121;
  color: #fcf5e5;
  border: none;
  padding: 18px 58px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0;
  cursor: pointer;
  transition: opacity 0.3s ease;
}
.modal__submit-button:hover {
  opacity: 80%;
}
.modal__submit-button_inactive {
  opacity: 50%;
  cursor: not-allowed;
}
.modal__image-container {
  position: relative;
}
.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}
.modal__caption {
  color: #fff;
  max-width: 214px;
  background-color: #212121;
  margin: 0;
  margin-top: 8px;
  border-radius: 8px;
  padding: 4px 8px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media screen and (max-width: 627px) {
  .modal__container {
    padding: 12px;
    margin: 0 10px;
  }

  .modal__delete-container {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    min-height: 208px;
    padding: 12px;
    margin: 0 10px;
    border-radius: 8px;
    gap: 20px;
    align-items: center;
  }

  .modal__title {
    font-size: 20px;
  }

  .modal__delete-title {
    justify-content: space-between;
    width: 100%;
    margin: 0;
    align-items: center;
    font-size: 20px;
    margin-bottom: 20px;
  }
  .modal__close {
    top: 12px;
    right: 12px;
  }

  .modal__delete-close {
    top: -48px;
    right: 0;
  }

  .modal__close_type_preview {
    top: -48px;
    right: 0;
  }
  .modal__input {
    margin: 8px 0 0;
    width: 92%;
    font-size: 16px;
  }

  .modal__delete-form {
    flex-direction: column;
    width: 100%;
    gap: 12px;
  }

  .modal__submit-button {
    width: 100%;
    margin-right: 0;
  }

  .modal__delete-button {
    padding: 18px 32px;
    gap: 8px;
    border-radius: 8px;
  }

  .modal__cancel-button {
    padding: 18px 32px;
    border-radius: 8px;
  }

  .modal__image {
    max-width: unset;
  }
  .modal__caption {
    max-width: 175px;
    font-size: 16px;
  }
}
